.modal-clues ,
.modal-clues-ask {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content-clues {
    transition: all 0.5s ease-in-out;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    width: 50%; /* Could be more or less, depending on screen size */
}
.modal-body-clues{
    height: 100%;
}
.modal-header-clues{
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin-bottom: 10px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Modal Content/Box Ask */
.modal-clues-ask .modal-content-clues {
    transition: all 0.5s ease-in-out;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    width: 30%; /* Could be more or less, depending on screen size */
}
.modal-clues-ask .modal-body-clues{
    height: 100%;
}
.modal-clues-ask .option{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    background-color: transparent;
    /*border: 1px solid #333;*/
}
.modal-clues-ask .option a{
    width: calc(50% - 4px);
}
.modal-clues-ask .modal-header-clues{
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin-bottom: 10px;
}
.modal-clues-ask .close {
    position: relative;
    top: -8px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal-clues-ask .close:hover,
.modal-clues-ask .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


